:root {
  --text-color: hsl(0 0% 0% / 0.75);

  --radius-xxs: 2px;
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 32px;
  --radius-xl: 64px;
  --radius-xxl: 128px;

  --padding-xxs: 2px;
  --padding-xs: 4px;
  --padding-sm: 8px;
  --padding-md: 16px;
  --padding-lg: 32px;
  --padding-xl: 64px;
  --padding-xxl: 128px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
}

.card {
  box-sizing: border-box;
  width: fit-content;
  height: auto;
  padding: var(--padding-md);
}
.card:hover {
  border-radius: var(--radius-sm);
  box-shadow: 1px 1px 8px hsl(0 0% 0% /0.1);
  background-image: linear-gradient(0deg, #da3287, #ffde5e, #da3287, #ffde5e);
  background-size: 100% 300%;
  animation: animateBg 2s infinite linear;
  transition: border-radius 250ms ease-in-out;
}

.card:not(hover) {
  border-radius: var(--radius-xxs);
  box-shadow: 1px 1px 8px hsl(0 0% 0% / 0);
  transition: border-radius 500ms ease-in-out;
}

[data-spin]:hover {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 50%;
  transition: all 250ms ease-in-out;
}

[data-spin]:not(hover) {
  border-radius: 0%;
  transition: border-radius 250ms ease-in-out;
}

.img-wrapper {
  display: flex;
  justify-content: center;
}

.img-span {
  display: flex;
  transition: box-shadow 500ms;
}

.img-span:hover {
  box-shadow: 2px 4px 8px hsl(0 0% 0% / 1);
  border-radius: 50%;
}

.img-span:not(hover) {
  box-shadow: 2px 4px 8px hsl(0 0% 0% / 0);
  border-radius: 50%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

h6,
h4 {
  line-height: 1em;
  text-align: center;
}

.audio-controls {
  background-color: hsla(0, 0%, 100%, 0.4);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  width: 100vw;
  bottom: 0px;
  backdrop-filter: blur(8px);
  padding: 12px 0px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes animateBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}
